/* ======================================= */
/* ESTILOS BASE */
/* ======================================= */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: rgb(233, 226, 238);
    background-color: rgb(81, 26, 81); /* Fondo Morado */
    overflow: hidden;
    font-family: 'Gloria Hallelujah', cursive; 
}
.cake-container {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Centrado horizontal y subido -90% */
    transform: translate(-50%, -90%); 
}
#cake {
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(-80px); 
}

/* ======================================= */
/* AJUSTES DE VELA Y LLAMA */
/* ======================================= */

/* === VELA (Posici칩n inicial y apariencia) === */
.vela-cera {
    position: absolute;
    /* Inicia muy arriba para que la ca칤da sea visible */
    top: -80%; 
    /* Inicia en el centro */
    left: 50%;
    
    transform: translateX(-50%);
    opacity: 0; 
    visibility: hidden; 
    
    /* 游 CORRECCI칍N: Se a침ade la transici칩n para el movimiento */
    transition: 
        top 0.5s ease-in, /* Movimiento vertical de 0.5s */
        opacity 0.5s ease-out; /* Aparici칩n gradual */
        
    z-index: 100;
    cursor: pointer;
    width: 10px;
